*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav>div{
    margin: 2rem;
}

#navlinks>ul{
    margin-left: -25rem;
    display: flex;
    flex-direction: row;
}

#navlinks>ul>li{
    list-style: none;
    margin: 1rem;
}
#navlinks>ul>li>a{
    color: black;
    font-weight: bold;
}
#button{
    display: flex;
    justify-content: center;
}

#button>button{
    height: 2.5rem;
    width: 7rem;
    border-radius: 0.5rem;
    border: 1px solid #5955b3;
}

#middle{
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: row;
    justify-content: space-between;
    margin: 0 2rem;
}

#middleright>img{
    width: 58rem; 
    height: 35rem;
}

#middleleft{
    margin-top: 8rem;
}

#largetext{
    font-size: 4rem;
    color: #3c2e60;
    font-weight: bold;

}
#smalltext{
    margin-top: 1rem;
    font-size: 0.9rem;
}

#middleleft>button{
    margin-top: 1rem;
    height: 3rem;
    width: 10rem;
    border-radius: 0.5rem;
    border: 1px solid #5955b3;
}

#crush{
    color: #5955b3;
}

.button{
    background-color: #5955b3;
    color: white;
    font-weight: bold;
    /* font-family: "Poppins"; */
}

/* Atomic CSS */
.text-decoration{
    text-decoration: none;
}

